In [8]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
data=pd.read_csv("german_credit_data.csv")

Age (numeric)
Sex (text: male, female)
Job (numeric: 0 - unskilled and non-resident, 1 - unskilled and resident, 2 - skilled, 3 - highly skilled)
Housing (text: own, rent, or free)
Saving accounts (text - little, moderate, quite rich, rich)
Checking account (numeric, in DM - Deutsch Mark)
Credit amount (numeric, in DM)
Duration (numeric, in month)
Purpose (text: car, furniture/equipment, radio/TV, domestic appliances, repairs, education, business, vacation/others)

In [ ]:
Questions:
Wich age is the most commun for have a credit consumer

In [11]:
data=data.drop('Unnamed: 0', axis=1)
pd.pivot_table(data, columns='Housing')

Housing               free          own         rent
Age              43.814815    35.593268    30.368715
Credit amount  4906.212963  3060.939691  3122.553073
Duration         27.453704    20.328191    19.240223
Job               2.157407     1.879383     1.849162

In [14]:
data=data.sort_values(by="Age")

In [15]:
data

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
391,19,female,1,rent,rich,moderate,983,12,furniture/equipment
633,19,female,2,rent,little,NaN,1980,9,furniture/equipment
513,20,male,2,rent,little,moderate,585,12,radio/TV
155,20,female,2,rent,little,little,1282,12,furniture/equipment
410,20,female,2,own,little,moderate,1967,24,radio/TV
865,20,female,2,rent,quite rich,NaN,2221,15,furniture/equipment
420,20,female,2,rent,rich,NaN,3186,15,car
167,20,female,2,own,rich,moderate,1577,11,furniture/equipment
296,20,female,2,rent,NaN,NaN,4675,12,car
905,20,male,3,rent,little,little,1107,12,radio/TV
593,20,female,1,rent,little,moderate,2718,24,car
585,20,female,2,rent,little,little,2039,18,furniture/equipment
428,20,male,2,own,little,NaN,1313,9,furniture/equipment
188,20,male,2,own,moderate,little,674,12,radio/TV
495,20,male,2,own,NaN,little,2996,24,furniture/equipment
93,20,male,2,rent,NaN,rich,3617,24,furniture/equipment
386,21,female,2,rent,NaN,NaN,1126,18,radio/TV
836,21,female,2,own,NaN,NaN,886,12,radio/TV
724,21,female,2,rent,little,NaN,2570,27,car
731,21,male,1,rent,little,little,1987,24,radio/TV
363,21,male,2,rent,little,NaN,1766,6,furniture/equipment
618,21,female,2,rent,moderate,moderate,3441,30,furniture/equipment
425,21,male,2,rent,little,moderate,2779,18,car
587,21,male,1,own,little,little,1289,12,furniture/equipment
208,21,male,1,own,little,little,6568,24,business
194,21,male,2,rent,moderate,moderate,3031,45,radio/TV
134,21,female,2,own,moderate,NaN,10144,60,radio/TV
637,21,male,2,own,little,NaN,15653,60,radio/TV
203,21,male,2,rent,little,little,902,12,education
926,21,female,2,rent,little,little,1049,18,furniture/equipment
...,...,...,...,...,...,...,...,...,...
373,63,male,3,free,NaN,NaN,13756,60,car
715,63,male,2,own,NaN,NaN,7596,30,car
678,64,male,1,rent,little,little,2384,24,radio/TV
629,64,male,1,own,NaN,NaN,3832,9,education
976,64,female,2,own,little,moderate,753,6,radio/TV
987,64,female,2,own,moderate,NaN,1409,13,radio/TV
219,64,female,2,own,little,NaN,1364,10,car
807,65,male,2,own,NaN,NaN,930,12,radio/TV
624,65,male,2,free,little,little,2600,18,radio/TV
883,65,female,0,own,little,NaN,1098,18,radio/TV
179,65,male,2,own,little,little,571,21,car
438,65,male,0,own,little,little,3394,42,repairs
774,66,male,0,free,quite rich,rich,1480,12,car
75,66,male,3,free,little,little,1526,12,car
723,66,female,1,own,quite rich,moderate,790,9,radio/TV
213,66,male,3,own,little,rich,1908,30,business
137,66,male,1,own,quite rich,moderate,766,12,radio/TV
779,67,female,2,own,little,moderate,3872,18,repairs
0,67,male,2,own,NaN,little,1169,6,radio/TV
554,67,female,3,own,little,moderate,1199,9,education
187,68,male,0,free,little,moderate,1175,16,car
846,68,male,2,rent,NaN,NaN,6761,18,car
917,68,male,3,own,little,little,14896,6,car
163,70,male,3,free,little,moderate,7308,10,car
756,74,male,0,own,little,rich,1299,6,car
606,74,male,3,own,little,NaN,4526,24,business
186,74,female,3,free,little,moderate,5129,9,car
430,74,male,1,own,little,NaN,3448,5,business
330,75,male,3,free,little,little,6615,24,car
536,75,female,3,own,NaN,little,1374,6,car